.custom-checkbox {
    appearance: none;
}

.checkbox-label {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.checkbox-label::before {
    display: inline-block;
    margin-right: 4px;
    transition: color 0.3s ease;
}

.custom-checkbox:checked + .checkbox-label {
    border: none;
}

.custom-checkbox:not(:checked) + .checkbox-label {
    border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

